@font-face {
    font-family: "iconfont";
    /* Project id 2835282 */
    src: url('iconfont.woff2?t=1639747444466') format('woff2'), url('iconfont.woff?t=1639747444466') format('woff'), url('iconfont.ttf?t=1639747444466') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
    content: "\e648";
}

.icon-daochu:before {
    content: "\eabf";
}

.icon-daoru:before {
    content: "\eac0";
}

.icon-yiwen:before {
    content: "\e600";
    color: #c0c0c0;
}

.icon-shezhi1:before {
    content: "\e628";
}