Flask==1.1.4
Flask-Session==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask-RESTful==0.3.9
flask-sqlacodegen==1.1.8
loguru==0.5.3
PyMySQL==1.0.2
SQLAlchemy==1.4.23
cryptography==3.4.8