.nav-table {
    height: 500px;
    overflow-y: scroll;
}

.table-index {
    width: 45%;
    float: left;
}

.table-info {
    width: 45%;
    height: 570px;
    float: right;
}

.nav-field {
    height: 200px;
    overflow-y: scroll;
}

.glyphicon-question-sign {
    color: #A7A7A7;
}

.glyphicon-cog {
    color: #A7A7A7;
    float: right;
}

.glyphicon-ok {
    color: #0F9D24;
    float: right;
}

#businessKeyRule {
    display: none;
}

.form-control, .btn {
    margin-bottom: 10px;
}

/*提示文字左对齐*/
.tooltip-inner {
    text-align: left;
    word-wrap: break-word;
}

h3 {
    margin-top: 0;
}


/* 动画代码 */
@keyframes example {
    0% {
        position: relative;
        bottom: 52px;
    }
    100% {
        position: relative;
        bottom: 0;
    }
}

/* 向此元素应用动画效果 */
.alert-show {
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
}

.alert-save {
    position: relative;
    bottom: 52px;
}

.btn-save {
    position: relative;
    height: 52px;
    background-color: #ffff;
    z-index: 1;
}

#isDeleted{
    cursor: not-allowed;
}