.nav-table {
    height: 500px;
    overflow-y: scroll;
}

.table-index {
    width: 45%;
    float: left;
}

.table-info {
    width: 45%;
    height: 570px;
    float: right;
}

.nav-field {
    /*height: 200px;*/
    overflow-y: scroll;
}

.glyphicon-question-sign {
    color: #A7A7A7;
}

.glyphicon-cog {
    color: #A7A7A7;
    float: right;
}

#businessKeyRule {
    display: none;
}

.form-control {
    margin-bottom: 10px;
}

/*提示文字左对齐*/
.tooltip-inner {
    text-align: left;
    word-wrap: break-word;
}